@model List<Employee>
@{
    ViewData["Title"] = "DashBoard";
}

<div class="alert alert-primary" role="alert">
    Department - @ViewData["deptName"]
</div>




<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Daily Updates!</h4>
    <p>
        @ViewBag.announcement Welcome to today’s update! Our team is continuously working to improve this website so that visitors can
        enjoy a smoother and more helpful experience.
    </p>
</div>
@{
    if ((bool)ViewData["isActive"]!)
    {
        <div class="alert alert-success" role="alert">
           
            <p>
                Department is active.
                
            </p>
        </div>
        
    }
}
<table class="table table-striped table-bordered " >
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                <td>@item.EmployyeId</td>
                <td>@item.EmployeeName</td>
                <td>@item.Position</td>
                <td>@item.Salary</td>
                </tr>
            }
        }
    </tbody>    
</table>
