@model IEnumerable<Week10Assessment.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-light">
    <thead class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @((Convert.ToDecimal(item.Quantity) * Convert.ToDecimal(item.Price)).ToString("C"))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
